body{
    margin:0;
    font-family:'Playfair Display SC',sans-serif;
    color:rgb(44,41,44);
    background-color: #29648A;
}

#main-header{
    background-color: #25274D;
    color:white;
    padding: 2rem 5%;
    text-align: center;
}

.btn{
    font:inherit;
    padding: 0.5rem 1.5rem;
    background-color: #464866;
    border: 1px solid #464866;
    color:white;
    border-radius: 4px;
    cursor:pointer;
}

.btn-alt{
    background-color: transparent;
    border-color:transparent;
    color:rgb(55, 76, 144);
}

.btn:hover{
    background-color: #25274D;
    border-color: #25274D;
}

.btn-alt:hover{
    background-color: rgb(111, 117, 154);
    border-color: transparent;
}